<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:largeScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- při upgrade na SDK 34 jsem přidal ještě toto
        -->

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntervalTimer.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6701702247641250~7047640994"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize"
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">

        </activity>

        <!-- Pro servicu a notifikaci je třeba dát do níže uvedené aktivity
            android:launchMode="singleTask" - aby se to z notifikace vracelo do té původní aktivity a nevolala se jiná
            ClassicActivita, takhle by tam bylo zavoláno X activit a navíc by vracení z notifikace do Activity bylo pomalé
        -->
        <activity
            android:name="com.machy1979ii.intervaltimer.ClassicActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/title_activity_classic"
            android:exported="false"
             />

        <activity
            android:name="com.machy1979ii.intervaltimer.SetSoundClassicActivity"
            android:label="@string/title_activity_set_sound"
            android:noHistory="true"
            ></activity>

        <!-- Pro servicu a notifikaci je třeba dát do níže uvedené aktivity
    android:launchMode="singleTask" - aby se to z notifikace vracelo do té původní aktivity a nevolala se jiná
    ClassicActivita, takhle by tam bylo zavoláno X activit a navíc by vracení z notifikace do Activity bylo pomalé
-->
        <activity
            android:name="com.machy1979ii.intervaltimer.TabataActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/title_activity_tabata"
            android:exported="false"
            />

        <activity
            android:name="com.machy1979ii.intervaltimer.SetSoundTabataActivity"
            android:label="@string/title_activity_set_sound"
            android:noHistory="true"
            ></activity>

        <!-- Pro servicu a notifikaci je třeba dát do níže uvedené aktivity
    android:launchMode="singleTask" - aby se to z notifikace vracelo do té původní aktivity a nevolala se jiná
    ClassicActivita, takhle by tam bylo zavoláno X activit a navíc by vracení z notifikace do Activity bylo pomalé
-->
        <activity
            android:name="com.machy1979ii.intervaltimer.CustomActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/title_activity_tabata"
            android:exported="false"
            />



        <activity
            android:name="com.machy1979ii.intervaltimer.SetSoundCustomActivity"
            android:label="@string/title_activity_set_sound"
            android:noHistory="true"
            ></activity>

        <service
            android:exported="false"
            android:name=".services.ClassicService"
            android:foregroundServiceType="mediaPlayback"
            android:label="Classic service" >
        </service>

        <service
            android:exported="false"
            android:name=".services.TabataService"
            android:foregroundServiceType="mediaPlayback"
            android:label="Tabata service" >
        </service>

        <service
            android:exported="false"
            android:name=".services.CustomService"
            android:foregroundServiceType="mediaPlayback"
            android:label="Custom service" >
        </service>


    </application>

</manifest>